@import url(/css/imports/components/loader.css);
@import url(/css/imports/components/cursor.css);
@import url(/css/imports/utils/messages/userMessage.css);
@import url(/css/imports/utils/messages/alertMessage.css);
@import url(/css/imports/utils/messages/formErrors.css);
@import url(/css/imports/components/navigation/menu.css);

/* COLORMODE */
@import url(/css/imports/utils/allColors.css);

/* BUTTONS */
@import url(/css/imports/components/buttons/glowBorderBtn.css);
@import url(/css/imports/components/buttons/switch.css);
@import url(/css/imports/components/buttons/skillsButton.css);

/* HOME */
@import url(/css/imports/landing.css);

/* PROJECTS */
@import url(/css/imports/projects/textContent.css);
@import url(/css/imports/projects/cards/cards.css);
@import url(/css/imports/projects/cards/video.css);

/* CONTACT */
@import url(/css/imports/contact/contactSection.css);

/* ABOUT */
@import url(/css/imports/about/aboutSection.css);
@import url(/css/imports/about/skillset/skillset.css);
@import url(/css/imports/about/skillset/rangeInputs.css);

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Poppins";
  color: var(--primary-text);
  background-color: var(--background);

  cursor: none;
}

.main-section {
  display: flex;
  flex-direction: column;
  margin: 2% 4%;
}

.hidden {
  display: none;
}

.page-content {
  margin-top: 50px;
}

@media screen and (max-width: 778px) {
  .page-content {
    margin-top: 20px;
  }
}
