#project-textContainer {
  margin: 0 0 0 80px;
}

#featuredTitle {
  font-weight: 500;
}

@media screen and (max-width: 891px) {
  .portfolio-content {
    padding-top: 50px;
  }

  #project-textContainer {
    margin: 0 20px 0 20px;
  }
}
