.landing-content {
  padding: 0 20px 0 20px;
}

.welcome-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.welcomeMessage {
  flex: 1;
  max-width: 700px;
}

#title {
  font-size: 2rem;
  font-weight: 200;
}

#subMessage {
  margin-top: 5% !important;
  font-size: 2.5rem;
  font-weight: 200;
}

#subMessage span {
  font-weight: 300;
}

#landingMessage {
  font-size: 1.5rem;
  font-weight: 200;
}

#landingMessage span {
  border-bottom: 2px solid var(--accent-color);
}

#title,
#subMessage,
#landingMessage {
  width: 100%;
  margin: 0;
  transition: font-size 0.3s ease-in-out;
}

#landingImage {
  width: 300px;
  height: auto;
  box-shadow: 8px 8px 0 0 #000000;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  #title {
    font-size: 1.5rem;
  }

  #subMessage {
    font-size: 2rem;
  }

  #landingMessage {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 778px) {
  .welcome-content {
    padding: 50px 10px;
    gap: 20px;
  }

  #title {
    font-size: 1rem;
  }

  #subMessage {
    font-size: 1.2rem;
  }

  #landingMessage {
    font-size: 0.9rem;
  }

  .landingIMGcontainer {
    width: auto;
    justify-content: center;
  }

  #landingImage {
    width: 200px;
    height: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 540px) {
  .welcome-content {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .landing-content {
    padding: 0 150px 0 150px;
  }
}
