.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.project-recording {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  display: none;
  border: 1px solid var(--accent-color);
  z-index: 5;
}

.cardsContainer:hover .video-container {
  opacity: 1;
  visibility: visible;
}
