.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 0 0 0;
}

.titleContainer {
  font-weight: lighter;
}

.cardsContainer {
  position: relative;
  margin: 20px 0 20px 0;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card {
  width: 280px;
  height: 380px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 8px 10px 0 0 var(--box-shadow);
  border: 1px solid var(--box-shadow);

  position: relative;
  overflow: hidden;
}

.card:hover {
  background: rgba(0, 0, 0, 0.4);
}

body.dark .card:hover {
  box-shadow:
    0 0 5px var(--box-sh-dark1),
    0 0 10px var(--box-sh-dark2),
    0 0 15px var(--box-sh-dark3),
    0 0 20px var(--box-sh-dark4);
}

body.light .card:hover {
  box-shadow:
    0 0 5px var(--box-sh-light1),
    0 0 10px var(--box-sh-light2),
    0 0 15px var(--box-sh-light3),
    0 0 20px var(--box-sh-light4);
}

.card img {
  border-radius: 6px;
  width: 100%;
  height: auto;
  border: 1px solid var(--accent-color);
}

#project-desc {
  font-weight: 300;
}

.urlDiv {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#project-livesite,
#project-repo {
  color: var(--primary-text);
  font-weight: 600;
}

#project-livesite:hover,
#project-repo:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 891px) {
  .projectsContainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 85%;
    height: auto;
    margin: 0;
    justify-self: center;
  }
}

@media screen and (min-width: 892px) {
  .cardsContainer:hover {
    transform: scale(1.04);
  }
}

@media screen and (min-width: 2055px) {
  .projectsContainer {
    gap: 160px;
  }
}
