.menuList {
  display: flex;
  gap: 40px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.nav-li {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  color: var(--primary-text);
}

.nav-li:not(.active):hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  text-decoration-color: var(--accent-color);
}

.nav-li.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.nav-li.active:hover::after {
  width: 50%;
}
