.contactPageContainer {
  margin: 50px 0 50px 0;
}
.contact-page {
  padding: 10px;
}

.contactContent {
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  height: auto;
}

input {
  padding: 10px;
  margin: 10px 20px 10px 0;
}

#message {
  width: 90%;
  min-height: 200px;
  padding: 20px;
  margin-top: 10px;
}

input,
#message {
  font-family: "Poppins";
  cursor: pointer;
  filter: brightness(95%);
  border-radius: 2px;
  border: 2px solid transparent;
  box-shadow: 5px 8px 0 0 var(--box-shadow);
}

input:hover,
#message:hover {
  border-color: var(--accent-color);
}

input:focus,
#message:focus {
  filter: brightness(100%);
}

input[type="Submit"] {
  background-color: var(--accent-color);
  width: 80px;
  height: auto;
  color: white;
  font-weight: 600;
  transition:
    transform 0.25s,
    box-shadow 0.25s ease-in-out;
}

input[type="Submit"]:hover {
  transform: scale(0.9);
  filter: brightness(105%);
  box-shadow: 2px 5px 0 0 var(--box-shadow);
}

#contactTitle {
  font-weight: 500;
  font-size: 2rem;
}

#contactSubTitle {
  font-weight: 200;
  font-size: 1.2rem;
}

#li-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-icon {
  color: var(--contactIcon);
}

#contactList {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 10px;
}

#contact-li a {
  color: var(--primary-text);
}

#contact-li a:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 1024px) {
  .contact-page {
    padding: 0 150px 0 150px;
  }
}
