.contact-page {
  padding: 10px;
}

.contactContent {
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  height: auto;
}

input {
  padding: 10px;
  margin: 20px 20px 20px 0;
}

#message {
  width: 100%;
  min-height: 200px;
}

input,
#message {
  cursor: pointer;
  filter: brightness(95%);
  border-radius: 2px;
  border: 2px solid transparent;
  box-shadow: 5px 8px 0 0 var(--box-shadow);
}

input:hover,
#message:hover {
  border-color: var(--accent-color);
}

input:focus,
#message:focus {
  filter: brightness(100%);
}

input[type="Submit"] {
  background-color: var(--accent-color);
  width: 80px;
  height: auto;
  color: white;
}

input[type="Submit"]:hover {
  transform: scale(1.05);
}

#contactTitle {
  font-weight: 500;
}

#contactSubTitle {
  font-weight: lighter;
}

@media screen and (min-width: 1024px) {
  .contact-page {
    padding: 0 150px 0 150px;
  }
}
